@font-face {  font-family: "Bitter HT";  font-style: normal; font-weight:400 ; src: url('../fonts/bitter-ht/BitterPro-Regular.ttf'); }
@font-face {  font-family: "Bitter HT";  font-style: italic; font-weight:400 ; src: url('../fonts/bitter-ht/BitterPro-Italic.ttf'); }
@font-face {  font-family: "Bitter HT";  font-style: normal; font-weight:700 ; src: url('../fonts/bitter-ht/BitterPro-Bold.ttf'); }
@font-face {  font-family: "Bitter HT";  font-style: italic; font-weight:700 ; src: url('../fonts/bitter-ht/BitterPro-BoldItalic.ttf'); }

@font-face {  font-family: "Berkshire Swash";  font-style: normal; font-weight:400 ; src: url('../fonts/berkshire-swash/BerkshireSwash-Regular.ttf'); }

@font-face {  font-family: "Lobster";  font-style: normal; font-weight:400 ; src: url('../fonts/lobster/Lobster-Regular.ttf'); }

@font-face {  font-family: "Trocchi";  font-style: normal; font-weight:400 ; src: url('../fonts/trocchi/Trocchi-Regular.ttf'); }

@font-face {  font-family: "Old Standard TT";  font-style: normal; font-weight:400 ; src: url('../fonts/old-standard-tt/OldStandardTT-Regular.ttf'); }
@font-face {  font-family: "Old Standard TT";  font-style: italic; font-weight:400 ; src: url('../fonts/old-standard-tt/OldStandardTT-Italic.ttf'); }
@font-face {  font-family: "Old Standard TT";  font-style: normal; font-weight:700 ; src: url('../fonts/old-standard-tt/OldStandardTT-Bold.ttf'); }

@font-face {  font-family: "Zilla Slab";  font-style: normal; font-weight:300 ; src: url('../fonts/zilla-slab/ZillaSlab-Light.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: italic; font-weight:300 ; src: url('../fonts/zilla-slab/ZillaSlab-LightItalic.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: normal; font-weight:400 ; src: url('../fonts/zilla-slab/ZillaSlab-Regular.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: italic; font-weight:400 ; src: url('../fonts/zilla-slab/ZillaSlab-Italic.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: normal; font-weight:500 ; src: url('../fonts/zilla-slab/ZillaSlab-Medium.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: italic; font-weight:500 ; src: url('../fonts/zilla-slab/ZillaSlab-MediumItalic.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: normal; font-weight:600 ; src: url('../fonts/zilla-slab/ZillaSlab-SemiBold.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: italic; font-weight:600 ; src: url('../fonts/zilla-slab/ZillaSlab-SemiBoldItalic.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: normal; font-weight:700 ; src: url('../fonts/zilla-slab/ZillaSlab-Bold.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: italic; font-weight:700 ; src: url('../fonts/zilla-slab/ZillaSlab-BoldItalic.ttf'); }

@font-face {  font-family: "Josefin Sans";  font-style: normal; font-weight:100 ; src: url('../fonts/josefin-sans/JosefinSans-Thin.ttf'); }
@font-face {  font-family: "Josefin Sans";  font-style: italic; font-weight:100 ; src: url('../fonts/josefin-sans/JosefinSans-ThinItalic.ttf'); }
@font-face {  font-family: "Josefin Sans";  font-style: normal; font-weight:200 ; src: url('../fonts/josefin-sans/JosefinSans-ExtraLight.ttf'); }
@font-face {  font-family: "Josefin Sans";  font-style: italic; font-weight:200 ; src: url('../fonts/josefin-sans/JosefinSans-ExtraLightItalic.ttf'); }
@font-face {  font-family: "Josefin Sans";  font-style: normal; font-weight:300 ; src: url('../fonts/josefin-sans/JosefinSans-Light.ttf'); }
@font-face {  font-family: "Josefin Sans";  font-style: italic; font-weight:300 ; src: url('../fonts/josefin-sans/JosefinSans-LightItalic.ttf'); }
@font-face {  font-family: "Josefin Sans";  font-style: normal; font-weight:400 ; src: url('../fonts/josefin-sans/JosefinSans-Regular.ttf'); }
@font-face {  font-family: "Josefin Sans";  font-style: italic; font-weight:400 ; src: url('../fonts/josefin-sans/JosefinSans-Italic.ttf'); }
@font-face {  font-family: "Josefin Sans";  font-style: normal; font-weight:500 ; src: url('../fonts/josefin-sans/JosefinSans-Medium.ttf'); }
@font-face {  font-family: "Josefin Sans";  font-style: italic; font-weight:500 ; src: url('../fonts/josefin-sans/JosefinSans-MediumItalic.ttf'); }
@font-face {  font-family: "Josefin Sans";  font-style: normal; font-weight:600 ; src: url('../fonts/josefin-sans/JosefinSans-SemiBold.ttf'); }
@font-face {  font-family: "Josefin Sans";  font-style: italic; font-weight:600 ; src: url('../fonts/josefin-sans/JosefinSans-SemiBoldItalic.ttf'); }
@font-face {  font-family: "Josefin Sans";  font-style: normal; font-weight:700 ; src: url('../fonts/josefin-sans/JosefinSans-Bold.ttf'); }
@font-face {  font-family: "Josefin Sans";  font-style: italic; font-weight:700 ; src: url('../fonts/josefin-sans/JosefinSans-BoldItalic.ttf'); }

@font-face {  font-family: "Ledger";  font-style: normal; font-weight:400 ; src: url('../fonts/ledger/Ledger-Regular.ttf'); }

@font-face {  font-family: "Comfortaa";  font-style: normal; font-weight:300 ; src: url('../fonts/comfortaa/Comfortaa-Light.ttf'); }
@font-face {  font-family: "Comfortaa";  font-style: normal; font-weight:400 ; src: url('../fonts/comfortaa/Comfortaa-Regular.ttf'); }
@font-face {  font-family: "Comfortaa";  font-style: normal; font-weight:500 ; src: url('../fonts/comfortaa/Comfortaa-Medium.ttf'); }
@font-face {  font-family: "Comfortaa";  font-style: normal; font-weight:600 ; src: url('../fonts/comfortaa/Comfortaa-SemiBold.ttf'); }
@font-face {  font-family: "Comfortaa";  font-style: normal; font-weight:700 ; src: url('../fonts/comfortaa/Comfortaa-Bold.ttf'); }

@font-face {  font-family: "Paprika";  font-style: normal; font-weight:400 ; src: url('../fonts/paprika/Paprika-Regular.ttf'); }

@font-face {  font-family: "Miriam Libre";  font-style: normal; font-weight:400 ; src: url('../fonts/miriam_libre/MiriamLibre-Regular.ttf'); }
@font-face {  font-family: "Miriam Libre";  font-style: normal; font-weight:700 ; src: url('../fonts/miriam_libre/MiriamLibre-Bold.ttf'); }

@font-face {  font-family: "Biryani";  font-style: normal; font-weight:200 ; src: url('../fonts/biryani/Biryani-ExtraLight.ttf'); }
@font-face {  font-family: "Biryani";  font-style: normal; font-weight:300 ; src: url('../fonts/biryani/Biryani-Light.ttf'); }
@font-face {  font-family: "Biryani";  font-style: normal; font-weight:400 ; src: url('../fonts/biryani/Biryani-Regular.ttf'); }
@font-face {  font-family: "Biryani";  font-style: normal; font-weight:600 ; src: url('../fonts/biryani/Biryani-SemiBold.ttf'); }
@font-face {  font-family: "Biryani";  font-style: normal; font-weight:700 ; src: url('../fonts/biryani/Biryani-Bold.ttf'); }
@font-face {  font-family: "Biryani";  font-style: normal; font-weight:800 ; src: url('../fonts/biryani/Biryani-ExtraBold.ttf'); }
@font-face {  font-family: "Biryani";  font-style: normal; font-weight:900 ; src: url('../fonts/biryani/Biryani-Black.ttf'); }

@font-face {  font-family: "Kurale";  font-style: normal; font-weight:400 ; src: url('../fonts/kurale/Kurale-Regular.ttf'); }

@font-face {  font-family: "Martel";  font-style: normal; font-weight:200 ; src: url('../fonts/martel/Martel-ExtraLight.ttf'); }
@font-face {  font-family: "Martel";  font-style: normal; font-weight:300 ; src: url('../fonts/martel/Martel-Light.ttf'); }
@font-face {  font-family: "Martel";  font-style: normal; font-weight:400 ; src: url('../fonts/martel/Martel-Regular.ttf'); }
@font-face {  font-family: "Martel";  font-style: normal; font-weight:600 ; src: url('../fonts/martel/Martel-SemiBold.ttf'); }
@font-face {  font-family: "Martel";  font-style: normal; font-weight:700 ; src: url('../fonts/martel/Martel-Bold.ttf'); }
@font-face {  font-family: "Martel";  font-style: normal; font-weight:800 ; src: url('../fonts/martel/Martel-ExtraBold.ttf'); }
@font-face {  font-family: "Martel";  font-style: normal; font-weight:900 ; src: url('../fonts/martel/Martel-Black.ttf'); }

@font-face {  font-family: "Arima Madurai";  font-style: normal; font-weight:100 ; src: url('../fonts/arima-madurai/ArimaMadurai-Thin.ttf'); }
@font-face {  font-family: "Arima Madurai";  font-style: normal; font-weight:200 ; src: url('../fonts/arima-madurai/ArimaMadurai-ExtraLight.ttf'); }
@font-face {  font-family: "Arima Madurai";  font-style: normal; font-weight:300 ; src: url('../fonts/arima-madurai/ArimaMadurai-Light.ttf'); }
@font-face {  font-family: "Arima Madurai";  font-style: normal; font-weight:400 ; src: url('../fonts/arima-madurai/ArimaMadurai-Regular.ttf'); }
@font-face {  font-family: "Arima Madurai";  font-style: normal; font-weight:500 ; src: url('../fonts/arima-madurai/ArimaMadurai-Medium.ttf'); }
@font-face {  font-family: "Arima Madurai";  font-style: normal; font-weight:700 ; src: url('../fonts/arima-madurai/ArimaMadurai-Bold.ttf'); }
@font-face {  font-family: "Arima Madurai";  font-style: normal; font-weight:800 ; src: url('../fonts/arima-madurai/ArimaMadurai-ExtraBold.ttf'); }
@font-face {  font-family: "Arima Madurai";  font-style: normal; font-weight:900 ; src: url('../fonts/arima-madurai/ArimaMadurai-Black.ttf'); }


.unused_valid_class {
    letter-spacing: 0.03em !important;
    line-height: 1.5em !important;
	-moz-osx-font-smoothing: grayscale !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;    
	font-family: "Zilla Slab", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
	font-weight: 300;
}

body,
button,
input,
optgroup,
select,
textarea {
	font-family: "Martel", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
	font-weight: 300 !important;
	-moz-osx-font-smoothing: grayscale !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;    
}

/* Yatramaya */
.rp-site-title {
	font-family: "Arima Madurai", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
   font-weight: 900 !important;
}

/* Page Title that appears under Yatramaya and overlaps it */
.rp-page-title-small {
	font-family: "Martel", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
	font-weight: 700 !important;
}

/* Links type Headings to pages (leading to below class) */
.rp-page-title-medium {
	font-family: "Martel", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
	font-weight: 700 !important;
}

/* Big Heading on pages */
.rp-page-title-large {
	font-family: "Martel", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
	font-weight: 900 !important;
}

/* Headings that are not content, website page headings, navigation headings*/
.rp-heading {
	font-family: "Martel", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
   font-weight: 600 !important;
}

/* Buttons, links, including taxonomy links */
.rp-clickable {
	font-family: "Biryani", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
	font-weight: 300 !important;
}

/* Article reading time, date and any other small text */
.rp-small-info {
	font-family: "Biryani", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
	font-weight: 700 !important;
}

.ym-title-varying {
	font-size: 500% !important;
}

@media screen and (max-width: 1023px) {
	.ym-title-varying {
		font-size: 410% !important;
	}
}

@media screen and (max-width: 768px) {
	.ym-title-varying {
		font-size: 330% !important;
	}
}

html {
	font-size: 20px !important;
}
body,
button,
input,
optgroup,
select,
textarea {
    lline-height: 1.25 !important;
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 19px !important;
	}
	body,
	button,
	input,
	optgroup,
	select,
	textarea {
        lline-height: 1.3 !important;		
	}
}

@media screen and (max-width: 1024px) {
	html {
		font-size: 18px !important;
	}
	body,
	button,
	input,
	optgroup,
	select,
	textarea {
        lline-height: 1.35 !important;
}

@media screen and (max-width: 768px) {
	html {
		font-size: 16px !important;
	}
	body,
	button,
	input,
	optgroup,
	select,
	textarea {
        lline-height: 1.4 !important;		
	}
}

@media screen and (max-width: 480px) {
	html {
		font-size: 15px !important;
	}
	body,
	button,
	input,
	optgroup,
	select,
	textarea {
        lline-height: 1.45 !important;		
	}
}

@media screen and (max-width: 320px) {
	html {
		font-size: 14px !important;
	}
	body,
	button,
	input,
	optgroup,
	select,
	textarea {
        lline-height: 1.5 !important;	
	}
}
